.tile {
    height: 150px;
    width: 150px;
    vertical-align: top; /* buttons to not move on click */
    font-size: 3em;
}

.mytable {
    position: relative;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

#reset {

    width: 150px;
    height: 60px;
    font-size: 1.3em;
    position: absolute;
    top: 70%;
    left: 45%;
    font-family: 'Courier New', monospace;
    font-weight: 500;
    border: 3px solid white;
}

body {
    background-color: lightblue;
}

.winMessage {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px;
    width: 400px;
    height: 300px;
    font-size: 4em;
    font-family: 'Courier New', monospace;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 20%;
    left: 36%;
    z-index: 2;
    box-shadow: 10px 10px grey;
    animation: fadein 2s;

}

.tieMessage {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px;
    width: 400px;
    height: 300px;
    font-size: 2.7em;
    font-family: 'Courier New', monospace;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 20%;
    left: 36%;
    z-index: 2;
    box-shadow: 10px 10px grey;
    animation: fadein 2s;

}

.header {
    position: absolute;
    top: 4%;
    left: 42%;
    text-shadow: 2px 2px white;
}

.enterNames {
    border-radius: 25px;
    background: #73AD21;
    width: 400px;
    height: 300px;
    font-size: 1em;
    font-family: 'Courier New', monospace;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 20%;
    left: 36%;
    z-index: 2;
    box-shadow: 10px 10px grey;
    animation: fadein 2s;
}

#player1 {
    width: 250px;
    height: 35px;
    margin: 20px;
    margin-top: 60px;
}

#player2 {
    width: 250px;
    height: 35px;
    margin-top: 10px;
    margin: 20px;
    margin-bottom: 40px;
}

.closeButton {
    height: 30px;
    width: max-content;
    font-size: 20px;
    position: absolute;
    top: 250px;
    left: 155px;
}

.closeTieButton {
    height: 30px;
    width: max-content;
    font-size: 20px;
    position: absolute;
    top: 250px;
    left: 155px;
}

.players {
    width: 250px;
    height: 35px;
    font-size: 1.5em;
    font-family: 'Courier New', monospace;
    font-weight: bold;
    text-align: center;
    margin-left: 70px
}

.myTurn {
    font-size: 1.8em;
    background: #73AD21;
}